# SD-TSIA204 - Statistics: Linear Models
## TP 2: Linear Regression
### Leonardo HANNAS DE CARVALHO SANTOS
---

In [101]:
# Change here using YOUR own first and last names
fn1 = "leonardo"
ln1 = "santos"
filename = "_".join(map(lambda s: s.strip().lower(),
["SD-TSIA204_lab2", ln1, fn1])) + ".ipynb"

In [102]:
import numpy as np
import pandas as pd

from sklearn.datasets import fetch_california_housing
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

import scipy.stats as stats

---

## Question 1
**For the ﬁrst question, we load a standard dataset from `sklearn.datasets` named `fetch_california_housing`. This dataset has only $p = 8$ variables.**

In [103]:
housing = fetch_california_housing()
df = pd.DataFrame(housing.data, columns=housing.feature_names)
df['Target'] = housing.target
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

### Question 1.a
**Estimate the coeﬃcients with the expression of the normal equaitons seen in class. Code two functions to compute the MSE and the R2 coeﬃcient and compare them with the version of `sklearn` for the train and the test sets.**

$$
\hat\theta = (X^{T} X)^{-1} X^{T} y
$$

In [110]:
# Separating dependent and independent variables
X = housing.data
y = housing.target

# Adding a column of ones in the feature matrix
X = np.hstack((np.ones((X.shape[0], 1)), X))

# Train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

# Computing the OLS coefficients
theta_hat = np.linalg.inv(X_train.T @ X_train) @ X_train.T @ y_train

# Prediction of the dependent variable
y_hat = X_test @ theta_hat

In [105]:
def MSE(y, y_hat):
    return np.mean((y-y_hat)**2)

print("Mean Squared Error Comparison:")
print(f"- Coded Mean Squared Error Function = {MSE(y_test, y_hat)}")
print(f"- Mean Squared Error from Sklearn = {mean_squared_error(y_test, y_hat)}")

Mean Squared Error Comparison:
- Coded Mean Squared Error Function = 0.5404128061713874
- Mean Squared Error from Sklearn = 0.5404128061713874

In [106]:
def R2(y, y_hat):
    return 1 - np.sum((y-y_hat)**2)/np.sum((y-np.mean(y))**2)

R2(y_test, y_hat)
print("R2 Score Comparison:")
print(f"- Coded R2 Score Function = {R2(y_test, y_hat)}")
print(f"- R2 Score from Sklearn = {r2_score(y_test, y_hat)}")

R2 Score Comparison:
- Coded R2 Score Function = 0.5911695436406861
- R2 Score from Sklearn = 0.5911695436406861

### Question 1.b
**Finally, give the conﬁdence intervals at level $99\%$ for all the coeﬃcients coding the expression for the CI seen in session 3.**

In [108]:
# Number of observations
n = len(X)

# Degrees of freedom
df = n - len(theta_hat)

# Standard error of the coefficients
se = np.sqrt(np.diag(np.linalg.inv(X_train.T @ X_train)) * n * MSE(y_train, X_train @ theta_hat) / (X_train.shape[0] - np.linalg.matrix_rank(X_train)))

# t-value for a 99% confidence interval
alpha = 0.01
t_value = stats.t.ppf(1 - alpha/2, df)

# Confidence intervals
lower_bound = theta_hat - t_value * se
upper_bound = theta_hat + t_value * se

# Displaying the confidence intervals
for i in range(len(theta_hat)):
    print(f"Coefficient {i+1}: [{lower_bound[i]}, {upper_bound[i]}]")

Coefficient 1: [-38.868633689585955, -34.35055386607592]
Coefficient 2: [0.4246813500509123, 0.4535007337075741]
Coefficient 3: [0.008072923458395085, 0.011124369838612497]
Coefficient 4: [-0.12342095331834309, -0.08320139215977339]
Coefficient 5: [0.5216631769787204, 0.7117971268862658]
Coefficient 6: [-2.3721415292677097e-05, 8.455911346291748e-06]
Coefficient 7: [-0.007091126066085674, -0.0018856390623106902]
Coefficient 8: [-0.442035379027587, -0.39267118877335966]
Coefficient 9: [-0.45645610693278743, -0.4047728172244202]

## Question 2
**For the rest of the TP, we use the dataset in eCampus `data`. Load and preprocess the data.**

In [ ]:
df = pd.read_csv('data.csv', header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,201,202,203,204,205,206,207,208,209,210
0,-1.298173,-0.162249,1.223379,1.355554,1.080171,0.634979,0.298741,0.548270,0.731773,1.018645,...,0.588278,0.210106,1.861458,-0.436399,0.279299,-1.416020,-2.332363,0.215096,-0.693319,151.0
1,0.166951,-0.338060,-0.618867,0.759366,1.134281,-0.536844,-0.075120,0.970251,-0.327487,0.717310,...,-0.251054,-0.825716,0.339139,1.119430,0.225958,-0.822288,0.382838,-0.718829,-0.188993,75.0
2,-0.416177,-0.205659,-1.282226,1.675500,1.523746,0.192029,-0.235840,-1.954626,-0.853309,0.892791,...,1.283837,0.372516,-0.652557,-2.579347,0.139267,-1.901196,0.048210,0.220205,0.471588,141.0
3,0.867184,-0.398667,0.093501,0.025971,1.852099,0.789774,0.801775,0.376711,0.853689,0.247953,...,0.446582,0.334733,0.399074,-0.884172,0.723819,1.316367,0.088218,0.619496,1.061662,206.0
4,1.193282,-0.936980,-0.725039,0.766078,0.223489,-1.584622,1.146866,0.086136,-0.088780,-0.945066,...,0.786157,-1.058179,-0.155788,-0.642504,2.040010,-1.703110,-1.901502,1.778811,-0.489853,135.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,-0.270323,-0.437638,0.347423,-0.123436,0.344168,-0.777434,-1.380455,0.491346,0.713854,-0.693186,...,-0.051364,-0.371945,-0.114830,0.153832,-0.973347,-0.997793,0.158006,-0.139519,1.010518,178.0
438,0.872196,0.975497,0.819331,-0.975557,-0.968388,1.029983,-0.079420,-0.130714,0.201144,-2.390860,...,-0.327924,0.350886,-0.305686,-1.292688,0.124676,1.465920,0.663206,1.278693,0.419890,104.0
439,-0.032586,-0.571893,0.806842,0.562865,1.194239,-0.345469,0.717316,0.234458,1.546961,0.554013,...,-1.467585,0.584516,-0.281854,-0.618165,0.840381,1.261452,-0.084541,0.301755,0.517624,132.0
440,-1.529754,0.756967,2.251588,-0.052600,0.502047,0.046229,-1.571494,0.238793,-1.211869,-0.896148,...,-0.000023,-2.231379,-0.880398,0.267481,1.036171,-0.962587,0.491072,-1.389069,0.473725,220.0
441,0.942724,1.389141,-0.028890,-0.803132,0.780272,-2.076596,0.384999,-1.278517,0.544748,-1.933845,...,-0.672230,0.424373,-1.475910,0.198051,-1.129065,1.542559,0.616853,-0.047552,0.897446,57.0

In [ ]:
y = df[210]
X = df.drop(210, axis=1)

### Question 2.a
**Set the random seed to $0$.**

In [ ]:
np.random.seed(0)

### Question 2.b
**Separate the data in train and test sets: save one fourth of the data as testing (you can use `train_test_split` from `sklearn.model_selection`) and standardize both the training and testing sets using the `fit_transform` and `transform` functions in `sklearn.preprocessing.StandardScaler`.**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
y_train_scaled = scaler.fit_transform(y_train.values.reshape(-1, 1))
y_test_scaled = scaler.transform(y_test.values.reshape(-1, 1))

### Question 2.c
**Fit a regular OLS.**

In [112]:
lin_reg = LinearRegression()

lin_reg.fit(X_train_scaled, y_train_scaled)
y_pred_scaled = lin_reg.predict(X_test_scaled)

print("Regular OLS metrics:")
print("MSE =", MSE(y_test_scaled, y_pred_scaled))
print("R2 Score =", R2(y_test_scaled, y_pred_scaled))

Regular OLS metrics:
MSE = 0.5820722727322977
R2 Score = 0.2667867291254181

---
# Variable selection

## Question 3

**Program the method of forward variable selection based on hypothesis tests for regression coefﬁcients. This method starts from an empty set of variables $S$ and at each iteration selects one variable relevant for predicting $y$ and includes it in the set $S$. It runs until a halting condition is met. The coding process is as follows:**

### Question 3.a

**Develop a function that, given a dataset $X \in \mathbb{R}^{n \times p}$ and $y$, ﬁts $p$ linear regression models, each using only feature $X_{j}$ to predict $y$. For each model, conduct a test of no effect, as discussed in session 3, and compute the p-value of the test. This function should return the coeﬃcient with the smallest p-value. Explain the signiﬁcance of the p-value in this context.**

### Question 3.b

**Apply the function iteratively. At each iteration, select the feature $X_{f}$ with the smallest p-value and:**
* **Include it in the set $S$.**
* **Remove it from $X$.**
* **Subtract from $y$ the residuals of the model ﬁt with feature $X_{f}$. Elaborate on the reason for subtracting the predictions.**

### Question 3.c
**Add a halting condition to the algorithm: Stop adding features to the set $S$ when the p-value exceeds $0.05$. Plot the p-values for every coeﬃcient for the ﬁrst 5 iterations (all in the same plot).**